.additional-item {
  padding-top: 12px;
  padding-bottom: 17px;
  border-top: 1px solid $color-border-darker;

  &:last-child {
    border-bottom: 1px solid $color-border-darker;
  }
}

.additional-item__product {
  display: flex;
  flex-wrap: wrap;
  font-family: $font-secondary;
  font-size: 14px;
  line-height: 14px;
}

.additional-item__title {
  width: 100%;
  margin: 0;
  font-family: $font-primary;
  font-weight: $font-weight-regular;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
}

.additional-item__value {
  width: 50%;
  padding-top: 12px;
  padding-bottom: 12px;
}

.additional-item__price {
  width: 50%;
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: right;
}

.additional-item__properties {
  display: table;
  padding-top: 12px;
  padding-bottom: 12px;
  width: 280px;
  font-family: $font-secondary;
  font-size: 14px;
  line-height: 14px;

  &--row {
    display: table-row;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  &--cell {
    display: table-cell;

    &:last-child {
      text-align: right;
    }
  }
}
