.button {
  display: block;
  width: 100%;
  padding-top: 11px;
  padding-bottom: 11px;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: $color-light;
  background-color: $color-accent;

  &:hover,
  &:focus {
    background-color: $color-accent-darker;
  }

  &:active {
    color: rgba($color-light, 0.3);
    background-color: $color-accent-darker;
  }
}
