.catalog__item {
  padding-bottom: 24px;
  border: 1px solid $color-catalog-border;
  border-bottom: none;

  &:last-child {
    border-bottom: 1px solid $color-catalog-border;
  }
}

.catalog-item__wrapper {
  width: $width-mobile-wrapper;
  margin: 0 auto;
}

.catalog-item__title {
  width: 80px;
  margin: 0;
  padding-top: 22px;
  padding-bottom: 14px;

  font-size: 16px;
  font-weight: $font-weight-regular;
  line-height: 20px;
  text-transform: uppercase;

  &--more {
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 0;
    padding-top: 80px;
  }
}

.catalog-item__product-container {
  display: flex;
}

.catalog-item__product-image {
  display: block;
  width: 140px;
  height: 144px;
}

.catalog-item__product-info {
  width: $width-mobile-wrapper-half;
}

.catalog-item__properties {
  display: table;
  width: $width-mobile-wrapper-half;
  font-family: $font-secondary;
  font-size: 12px;
  line-height: 16px;

  &--row {
    display: table-row;
  }

  &--cell {
    display: table-cell;

    &:last-child {
      text-align: right;
    }
  }
}

.catalog-item__description {
  font-family: $font-secondary;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  padding-bottom: 20px;
}
