.changes {
  background-color: $color-off;
}

.changes__toggle-block {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.changes__toggle-button {
  margin: 0;
  margin-top: 34px;
  margin-bottom: 34px;
  font-family: $font-primary;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
