.form {
  width: 320px;
  margin: 0 auto;
  margin-bottom: 30px;
  background-color: $color-light;
}

.form__wrapper {
  width: 280px;
  margin: 0 auto;
}

.form__title {
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
  max-width: 200px;
  font-size: 24px;
  font-weight: $font-weight-regular;
  line-height: 24px;
}

.form__fieldset {
  margin: 0;
  padding: 0;
  border: none;

  &--radio {
    margin-bottom: 22px;
    padding-top: 22px;
    border: 1px solid $color-off-darker;
  }
}

.form__fieldset-inner {
  margin-bottom: 22px;
}

.form__fieldset-item {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 14px;

  &:last-child {
    margin-bottom: 0;
  }

  &--radio {
    padding-left: 44px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &--checkbox {
    padding-left: 44px;
  }
}

.form__textarea {
  width: 100%;
  padding: 15px;
  font-family: $font-primary;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  border: 1px solid $color-off-darker;
}

.form__footnote {
  margin: 0;
  padding-top: 20px;
  font-family: $font-secondary;
  font-size: $font-size-main;
  line-height: $line-height-main;
  text-align: center;
}
