.nav-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;

  padding: 0;
  margin: 0;

  list-style: none;
}

.nav-list__item {
  width: 100%;
  padding-top: 22px;
  padding-bottom: 22px;
  text-align: center;
  color: $color-dark;

  border-top: 1px solid darken($color-light, 10);

  &:last-child {
    border-bottom: 1px solid darken($color-light, 10);
  }
}

.nav-list__link {
  font-size: 20px;
  font-weight: $font-weight-medium;
  line-height: 20px;
  text-transform: uppercase;
  color: $color-dark;

  &:link {

    &:hover,
    &:focus {
      color: rgba($color-dark, 0.6);
    }

    &:active {
      color: rgba($color-dark, 0.3);
    }
  }

  &--current {
    padding-bottom: 5px;
    color: $color-dark;

    border-bottom: 2px solid $color-accent;
    cursor: default;
  }
}
