// COLORS //
$color-light: #ffffff;
$color-dark: #111111;
$color-accent: #68b738;
$color-accent-darker: #5eaa2f;
$color-off: #f2f2f2;
$color-off-darker: #ebebeb;
$color-off-text: #444444;
$color-catalog-border: #ededed;
$color-input-border: #e6e6e6;
$color-input-border-darker: #cdcdcd;
$color-input-border-selected: #444444;
$color-input-border-error: #ff8282;
$color-input-text: #444444;
$color-border-darker: #cdcdcd;

// FONT //
$font-primary: "Oswald", arial, helvetica, sans-serif;
$font-secondary: arial, helvetica, sans-serif;

// FONT WEIGHT //
$font-weight-regular: 400;
$font-weight-medium: 500;

// FONT SIZE //
$font-size-main: 14px;

// LINE-HEIGHT //
$line-height-main: 18px;

// WIDTH //
$width-mobile-max: 320px;
$width-mobile-wrapper: 280px;
$width-mobile-wrapper-half: calc(#{$width-mobile-wrapper} * 0.5);
